{% extends "correctiv_ttip_barometer/base.html" %}

{% load i18n markdown_deux_tags thumbnail cms_tags %}

{% block title %}{{ object.long_title|default:object.title }} - {% trans "Document" %}- {% trans "TTIP – State of Play" %}{% endblock %}

{% block barometer_main %}

<div class="page__container">
  <div class="page__row">
    <div class="page__section-full">
      <header class="page__section-header -primary">
        <h2 class="page__section-category">
          <a href="../../">{% trans "TTIP – Annotated Leaks" %}</a>
        </h2>
        <h3 class="page__section-headline">{{ object.long_title|default:object.title }}</h3>
      </header>
      <div class="page__teaser">
          {% blocktrans with title=object.title %}
          <p>
            Below is the draft for the chapter “{{ title }}”, that is now open for annotation.
            We would like you to explain, criticise but also suggest improvements to the treaty. Please stay brief and precise.
          </p>
          <p>
            This is how it works:
          </p>
          <ul>
            <li>Click the arrow in the top right corner of the document</li>
            <li>Register your name</li>
            <li>Select some text and add a comment</li>
          </ul>
          <p>Thanks!</p>
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
</div>

<iframe src="https://via.hypothes.is/{{ SITE_URL }}{{ object.document.url }}" width="100%" height="100%" style="height:100vh" seamless="true" frameBorder="0"></iframe>


{% endblock %}
